/* src/Components/Elements/Element12.scss */

.element121-container {
    margin-top: 50px;
  }
  
  .element121-main-heading,
  .element121-heading {
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    color:  #3F4254;
    font-weight: bold;
    font-size: 20px; 
    margin-top: 10px;/* Adjusted font size */
  }
  
  .element121-paragraph {
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    color:  #5C5C5C;
    font-size: 14px; /* Adjusted font size */
  }
  
  .element121-icon {
    display: block;
    margin-left: auto;
  }
  
  .element121-button {
    display: block;
    margin-left: 0;
    background-color:#F1F1F2;
    color: #7E8299;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Helvetica', sans-serif;
  }
  
  .element121-spacer {
    margin: 20px 0; /* Space between sections */
  }
  .element81-table {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
    border-collapse: collapse;
    padding-left: 50px;
    background-color: #f8f9fa;
    border-radius: 10px;

    th, td {
        border: 1px solid #f8f9fa;
        padding: 8px;
        text-align: left;
        color: #A1A5B7;
    }

    th {
        background-color: #f8f9fa;
        font-family: 'Helvetica', sans-serif;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: white;
    }

    tr:hover {
        color: #0C0698;
    }

    .highlight {
        background-color: #f8f9fa;
    }

    .status-active {
        color: #50CD89;
        font-weight: bold; /* Change text color to green for active status */
    }

    .status-inactive {
        color:
        #F1416C;
        font-weight: bold;  /* Change text color to red for inactive status */
    }

    .action-icon {
        width: 15px;
        height: 15px;
    }

    .rows-per-page {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #343434;

        .rows-icon {
            width: 15px;
            height: 15px;
            margin-left: 5px;
        }
    }
}

.end {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #555555;

    .end-icon {
        width: 14px;
        height: auto;
        margin-left: 5px;
    }
}
@media (max-width: 1200px) {
    .element81-table {
      font-size: 14px; /* Reduce font size for larger tablets or smaller desktops */
      padding-left:0;
    }
  
    .element81-table th, .element81-table td {
      padding: 6px;
    }
  }
  
  @media (max-width: 992px) {
    .element81-table {
      font-size: 14px; /* Further reduce font size for tablets */
      padding-left: 10px;
    }
  
    .element81-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  
  @media (max-width: 768px) {
    .element81-table {
      font-size: 13px; /* Reduce font size for mobile devices */
      padding-left: 5px;
    }
  
    .element81-table th, .element8-table td {
      padding: 4px;
    }
  
    .element81-table {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
  }
  