/* src/Components/Elements/Element12.scss */

.element12-container {
    margin-top: 50px;
  }
  
  .element12-main-heading,
  .element12-heading {
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    color:  #3F4254;
    font-weight: bold;
    font-size: 18px; /* Adjusted font size */
  }
  
  .element12-paragraph {
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    color:  #5C5C5C;
    font-size: 14px; /* Adjusted font size */
  }
  
  .element12-icon {
    display: block;
    margin-left: auto;
  }
  
  .element12-button {
    display: block;
    margin-left: 0;
    background-color:#F1F1F2;
    color: #7E8299;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Helvetica', sans-serif;
  }
  
  .element12-spacer {
    margin: 20px 0; /* Space between sections */
  }
  