.bottom-button_17 {
    background-color: #0C0698;
    color: white;
    border: none;
    width: 20%;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
      background-color: #080477;
    }
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .bottom-button_17 {
      width: 40%; /* Adjust width for medium screens */
      font-size: 12px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .bottom-button_17 {
      width: 60%; /* Adjust width for small screens */
      font-size: 10px;
      padding: 6px 12px;
    }
  }
  